html {
    height:100%;
}

body {
    background-color: black;
    height: 100%;
    overflow: auto;
}

.horizontally-centered {
    float: none;
    margin:auto;
}

.vertically-centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header-div {
    height: 10%;
    background-color: #76323F;
    vertical-align: middle;
    border-bottom-left-radius: 10px;
}
/* main-div includes second row in the page (which consists of upload drag'n drop box + explanation box*/
.main-div {
    background-color: #d7cec7;
    height: 65%;
}

.explanation-box {
    background-color: #565656;
    border-radius: 10px;
    border-top-left-radius: 0px;
    height: 100%;
}

.upload-box {
    background-color: #D7CEc7;
    border-radius: 10px;
    height: 100%;
}

.selection-menu {
    background-color: #D7CEc7;
    border-radius: 10px;
    height: 25%;
}


#header {
    font-family: Chalkboard;
    color: white;
    font-weight: bold;
    padding-left: 1.5%;
    margin: 0;
    margin-top:0.1%;
}

#subtitle {
    font-family: monospace;
    font-size: medium;
    color: white;
    font-style: oblique;
    padding-left: 3%;
}

/*.page-layout {*/
    /*!*margin: auto;*!*/
    /*border: 3px solid black;*/
    /*height: 100%;*/
/*}*/

@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 1.2em; /* 1.2x default size */
    }
}
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 0.8em; /* 0.8x default size */
    }
}