@import url('https://fonts.googleapis.com/css?family=Viga');

html {
    height:100%;
    font-family: Viga;
}

body {
    background-color: #67266b;
    height: 100%;
    overflow: auto;
    font-family: Viga;
    overflow-x: hidden;
}

.horizontally-centered {
    float: none;
    margin:auto;
}

.vertically-centered {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.header-div {
    height: 12%;
    background-color: #76323F;
    vertical-align: middle;
    border-bottom-left-radius: 10px;
}
/* main-div includes second row in the page (which consists of upload drag'n drop box + explanation box*/
.main-div {
    background-color: #d7cec7;
    height: 65%;
    margin-right: 0px;
    margin-left: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.explanation-box {
    background-color: #f4e6de;
    border-radius: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    height: 90%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.undo{
  float: right;
}

.clear{
  float: right;
}

.img_box {
    /*background-color: #ffffde;*/
    border-radius: 1px;
    padding-left: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    float: right;
}

.upload-box {
    background-color: #D7CEc7;
    border-radius: 10px;
    height: 100%;
}

.selection-menu {
    background-color: #67276a;
    border-radius: 10px;
    height: 20%;
    
}


#header {
    font-family: Chalkboard;
    color: white;
    font-weight: bold;
    padding-left: 1.5%;
    margin: 0;
    margin-top:0.1%;
}

#subtitle {
    font-family: monospace;
    font-size: medium;
    color: white;
    font-style: oblique;
    padding-left: 3%;
}

#comment {
    font-family: monospace;
    font-size: medium;
    color: black;
    font-style: oblique;
    padding-left: 3%;
}

/*.page-layout {*/
    /*!*margin: auto;*!*/
    /*border: 3px solid black;*/
    /*height: 100%;*/
/*}*/

/* style for the Horizontal image scroll bar */

#gallerycontainer {
  position: relative;
  height: 100%;
  width: 90%;
  margin: 0 auto;
  overflow: auto;
  background-color: #2c9ab4;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
    box-shadow: inset 0px 7px 15px 0px #287a8ecc;
}

#gallery {
  float: left;           /* makes it shrink-wrap all the floating divs inside */
  margin-right: -30000px; /* allows the width expanding beyond parent edge to give adjacent space *//*N.B. the limit in Opera is a total scroll width of 32778px */
  position: absolute;
  z-index: 1;
  height: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;

}
	
#gallery a {
  float: left;
  width: 219px;
  height: 165px;
  margin-right: 5px;
}

	/* Circular shape for images */

#gallery .curve { 
  width: 33%; height: auto;
  min-width: 150px;
  float: left;
  margin-right:2rem; 
  border-radius: 50%;
  -webkit-shape-outside:circle();
  shape-outside:circle();
}
	/* End of Circular shape for images */


/* end of Horizontal image scroll bar */	

/* style for the holder */
#holder {width:250px;height:250px;
 border:1px solid #eee;
 margin:30px;
 display: flex;
 align-items: center;
 flex-wrap: wrap;
 text-align: center;
 font-size: 30px;
 color: grey;
 border-style: dashed;
 border-color: black;
 }


#holder img {
	height:100%;
	width:100%;
}

#img_exp:hover {
  cursor: crosshair;
}


/* end of holder style */

@media all and (max-width: 1200px) { /* screen size until 1200px */
    body {
        font-size: 1.5em; /* 1.5x default size */
    }
}
@media all and (max-width: 1000px) { /* screen size until 1000px */
    body {
        font-size: 1.2em; /* 1.2x default size */
    }
}
@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 0.8em; /* 0.8x default size */
    }
}

#gallery img {
	height: 80%;
    width: 160px;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: 0px 0px 20px 6px #287a8e;
    
}

.navbar {
	height: 10%;
	display: flex;
	margin-bottom: 0px;
  	align-items: center;
  	flex-wrap: wrap;
  	background-color: #6146b3;
}

.navbar-brand {
	margin-top: 0px;
	margin-bottom: 0px;
	font-size: 30px;
	color: white;

}
